#clockConatiner {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.jpg) no-repeat;
    background-size: 100%;
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 2%;
    height: 25%;
    top: 24%;
    left: 49.5%;
    opacity: 3;
}

#minute {
    width: 1.5%;
    height: 33%;
    top: 16%;
    left: 49.5%;
    opacity: 2;
}

#second {
    width: 1%;
    height: 35%;
    top: 12.1%;
    left: 49.5%;
    opacity: 0.8;
}